<!--      Footer              -->
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <img src="assets/images/f-logo.png" width="90px" height="90px" />&nbsp;
            <span>The Institution of Engineers (India)</span>
        </div>
        <div class="col-md-4 ">
            
            <ul type="none">
                <h5>Contact Us</h5>
                <li>
                    <i  class="fa fa-map-marker"></i>&nbsp; 8 Gokhale Road, West Bengal, Kolkata-700020
                  </li>
                <li>
                  <i  class="fa fa-phone"></i>&nbsp; +91(033) 40106-248 / 299
                </li>
                </ul>
        </div>
       
        <div class="col-md-4">
            <ul type="none">
                <h5>Grievance</h5>
                <li>
                    <i class="fa fa-info-circle"></i>&nbsp; For any grivence, you may reach us through this mail.
                  </li>
                <li>
                    <i  class="fa fa-envelope"></i>&nbsp; grievance@ieindia.org
                </li>
                </ul>
        </div>
  
      </div>

      <div class="row details">
        <div class="col-md-3">
            <ul type="none">
                <h5>Membership</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>
        <div class="col-md-3">
            <ul type="none">
                <h5>Examination</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>
        <div class="col-md-3">
            <ul type="none">
                <h5>Administration</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>
        <div class="col-md-3">
            <ul type="none">
                <h5>Technical</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>

      </div>

      <div class="row details1">
        <div class="col-md-3">
            <ul type="none">
                <h5>HQ Cell(New Delhi)</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>
        <div class="col-md-3">
            <ul type="none">
                <h5>Finance</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>
        <div class="col-md-3">
            <ul type="none">
                <h5>IEI Secretariat</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>
        <div class="col-md-3">
            <ul type="none">
                <h5>Library</h5>
                <li><i class="fa fa-phone"></i>&nbsp; 123456789</li>
                <li><i  class="fa fa-envelope"></i>&nbsp; 123@gmail.com</li>
                </ul>
        </div>



        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                
                <!-- <a  href="#"><img src="images/logo-f.png"  class="img-fluid ft_logo" width="auto" height="auto"></a> -->
                <div class="ft_socailmedia_icons">
                  <ul type="none">
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-facebook-f bg_remove"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-twitter bg_remove"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-instagram bg_remove"></i
                      ></a>
                    </li>
                    
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-linkedin-in bg_remove"></i
                      ></a>
                    </li>
                  </ul>
                </div>
          </div>
    
          <div class="col-md-4"></div>
        </div>

      </div>

  </div>
  </div>
   <div class="copy-right">
      <p>&copy 2021 IEI - All Rights Reserved.</p>
    </div>
  <!--      Footer              -->
  