<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="login">
                <h5 class="mt-3 mb-4">Registered Member Login</h5>
            <form>
                <label for="fname">Membership No / E-mail / Mobile Number</label><br>
                <input type="text" id="" name="" value=""><br><br>
                <label for="lname">Password</label><br>
                <input type="password" id="" name="" value=""><br><br>

                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="login">
                <h5 class="mt-3 mb-4">Forgot Your Password</h5>
            <P>
            Enter your registered email id or mobile number below to receive an email and/or SMS of new system generated password. After login, it is recommended to reset your password.
            </P>
            <form>
                <label for="fname">Membership No / E-mail / Mobile Number</label><br>
                <input type="text" id="" name="" value=""><br><br>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="login">
                <h5 class="mt-3 mb-4">Create an Account</h5>
            <p>IF YOU ARE NOT REGISTERED WITH US, PLEASE COMPLETE THE REGISTRATION PROCESS. IN CASE ALREADY REGISTERED, GO FOR LOGIN</p>
            <h5 class="mt-5"><a href="#"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;Click Here For Registration Process</a></h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="login">
                <p>** To avail online services pertaining to Examination, it is mandatory for all Senior Technician (ST) & Technician (T-) members to select Yes option followed by their Membership No.</p>
            <p><b>Are you an existing IEI Member ?</b><br>* (e.g. ST1234567, T-1234567, AM1234567, M-1234567, F-1234567 etc)</p>

            <form>
                <input type="radio" name="options" value="yes" >
                 <label >Yes</label>&nbsp;&nbsp;
                <input type="radio" name="options" value="no" >
                 <label >No</label><br>
                <label >Membership No</label><br>
                <input type="text" id="" name="" value=""><br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>


    </div>
</div>